PINATA_JWT=
L1_RPC_URL=http://127.0.0.1:8545
L2_A_RPC_URL=http://127.0.0.1:9545
L2_B_RPC_URL=http://127.0.0.1:10545
CHAIN_RPC_URLS=421614=http://127.0.0.1:9545,84532=http://127.0.0.1:10545
REGISTRY_ADDRESS=
PRIVATE_KEY=
IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs
SOLC_BINARY=
